<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=
      , initial-scale=1.0">

</head>

<body>

  <div class="title container-fluid">
    <div class="col-sm-3 col-md-6 col-lg-7 title_text">Incremental sales volume</div>
    <div class="col-5 title_date"><span>Date: {{today | date:'dd-MM-yyyy '}}</span> <span
        style="padding-left: 112px;">Time: {{time | date:'hh:mm:ss a':'+0530'}}</span> </div>
  </div>
  <div class="charts col-lg-10">
    <br>
    <div>
      <input type="file" name="FileUpload" id="csvFileUpload" (change)="fileChangeListener($event)" accept=".csv"
        #fileImportInput />
      <div class="">
        <div class="row">
          <div style="margin: 30px;">
            
            <div  *ngFor="let product of ProductValue" id={{product}} style="min-width: 600px; max-width: 1000px; height: 400px; margin: 0 auto;float: left;">
            
            </div>
            <div *ngFor="let product of ProductValue" id={{product+1}}
              style="margin-top: 20px;min-width: 200px; margin-left:101px!important;max-width: 1000px; height: 400px; margin: 0 auto;float: left;">
            </div>

            <h5 class="card-title text-center"></h5>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2" style="margin-right: 0%;position: relative;
  left: -37px;">
    <div class="side_panel col-lg-2">
      <div style="margin-top: 50px; padding-right: 100px;">
        <span style="display: block;
               width: max-content;font-size: 14px;"> start date</span> <input type="date" [(ngModel)]="startdate">
        <span style="display: block;
               width: max-content;margin-top: 20px;font-size: 14px;">End date</span> <input type="date"
          [(ngModel)]="enddate">
        <form #userform="ngForm" (ngSubmit)="onSubmit()" novalidate>
          <mat-form-field style="font-size: 18px!important;">
            <mat-label style="font-size: 20px; margin-top: 10px;">locations</mat-label>
            <mat-select [(ngModel)]="LocationValue" [(ngModel)]="userforms.location" multiple name="locations">
              <mat-option value="Banjara hills">Banjara hills</mat-option>
              <mat-option value="KPHB">KPHB</mat-option>
              <mat-option value="Panjagutta">Panjagutta</mat-option>
            </mat-select>

          </mat-form-field>
          <mat-form-field style="font-size: 18px!important;">

            <mat-label style="font-size: 20px;">Products</mat-label>
            <mat-select [(ngModel)]="ProductValue" [(ngModel)]="userforms.product" multiple name="products">
              <mat-option value="100 ML Butterscotch">ML Butterscotch</mat-option>
              <mat-option value="250 ML Cornetto Snekers">Cornetto Snekers</mat-option>
            </mat-select>
          </mat-form-field>
          <br><br>
          <button class="btn btn-primary text-center" type="submit" style="margin-top: 10vh;">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>