@media (min-width: 1200px)
{
.container {
    width: 881px!important;
}}
.title
{
    background-color: darkgray;
    font-size: 17px;
    height: 10vh;
}
.title_text
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 700;
    /* font-family: system-ui; */
}
.title_date
{
    display: flex;
    align-items: center;
    padding-top: 33px;
    font-size: 16px;
    font-weight: 700;
    font-family: system-ui;
}